<div class="jumbotron mt-4">

  <h1 class="display-4">Telefonia app Nodejs and Mongodb</h1>
  <p class="lead">Esta aplicacion esta desarrollada con fines de brindar una organizacion hacia las empresas que aun no tienen uso de base de datos, es importante mencionar que esta en su version 1.0 .</p>
  <hr class="my-4">
  <p>Esta aplicacion fue desarrollada por Veronica Concepcion Ramos Venegas y Moises Alejandro Rodriguez Molina.</p>
  <a href="http://google.com" class="btn btn-primary btn-lg">Google</a>

</div>
